streamlit==1.36.0
numpy==1.26.4
Pillow==10.4.0
ultralytics==8.3.19
requests==2.32.3
torch==2.4.0
torchvision==0.19.0
opencv-python-headless==4.8.1.78
mysql-connector-python==8.0.33
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
scipy==1.14.1
